<h1>Dr. <%= @doctor.name %></h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<p>Patients:</p>
<ul>
  <% @doctor.patients.each do |patient| %>
    <div id="patient-<%= patient.id %>">
      <li><%= patient.name %></li>
      <%= button_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
    </div>
  <% end %>
</ul>
